body {
  height: 100vh;
  display: grid;
  place-items: center; /* centrerer hele containeren */
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #dddbdb;
  text-align: center;
}

.container {
  display: grid;
  gap: 20px;
  justify-items: center;
}

.p_404 {
  line-height: 20px;
  margin-top: 5px;
}

h1_404{
  text-align: center;
  font-family: "Itim", cursive;
  font-weight: 500;
  font-size: 80px;
  color: #8d392a;
}

p_404{
  font-family: "Inter", sans-serif;
  font-size: 20px;
  color: #8d392a;
}
