/* LAYOUT */
/* baggrund */
.baggrund_om_mig {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 7rem;
  margin: 5rem;
}

.protræt_om_mig img {
  width: 100%;
  height: auto;
  border-radius: 20px;
}
/* baggrund slut*/

/* personlig udvikling */
.udvikling_om_mig {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 5rem;
}
.tekst2_om_mig {
  margin-left: 4rem;
}

/* slideshow */
.slideshow_om_mig {
  max-width: 600px;
  height: auto;
  position: relative;
}

.slideshow_om_mig input {
  display: none;
}

.slideshow_om_mig .slider-wrapper {
  width: 100%;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  background: #fcfff4;
  height: 400px;
  border-radius: 20px;
}

.slideshow_om_mig .inner {
  display: flex;
  width: 400%;
  height: 100%;
  transition: all 0.8s ease-in-out;
}

.slideshow_om_mig article {
  width: 25%;
  height: 100%;
  position: relative;
}

.slideshow_om_mig img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.slideshow_om_mig .info {
  position: absolute;
  color: #fff;
  font-size: 1.2rem;
  font-style: italic;
  opacity: 0;
}

.slideshow_om_mig .top-left {
  top: 20px;
  left: 20px;
}

/* knapper */
.slideshow_om_mig .slider-dot-control {
  text-align: center;
  margin-top: 10px;
}

.slideshow_om_mig .slider-dot-control label {
  cursor: pointer;
  display: inline-block;
  width: 12px;
  height: 12px;
  background: #bbb;
  border-radius: 50%;
  margin: 0 5px;
  transition: 0.3s;
}

/* slide */
#slide1:checked ~ .slider-wrapper .inner {
  transform: translateX(0%);
}
#slide2:checked ~ .slider-wrapper .inner {
  transform: translateX(-25%);
}
#slide3:checked ~ .slider-wrapper .inner {
  transform: translateX(-50%);
}
#slide4:checked ~ .slider-wrapper .inner {
  transform: translateX(-75%);
}

#slide1:checked ~ .slider-wrapper article:nth-child(1) .info,
#slide2:checked ~ .slider-wrapper article:nth-child(2) .info,
#slide3:checked ~ .slider-wrapper article:nth-child(3) .info,
#slide4:checked ~ .slider-wrapper article:nth-child(4) .info {
  opacity: 1;
}

#slide1:checked ~ .slider-dot-control label:nth-child(1),
#slide2:checked ~ .slider-dot-control label:nth-child(2),
#slide3:checked ~ .slider-dot-control label:nth-child(3),
#slide4:checked ~ .slider-dot-control label:nth-child(4) {
  background: #333;
}
/* slideshow slut*/
/* personlig udvikling slut*/

/* Uddannelse og beskæftigelser */
.Uddannelse_beskæftigelser_om_mig {
  margin-left: 6rem;
}

.cv_om_mig {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 2px;
}

.multimediedesigner_om_mig,
.tjener_om_mig,
.pædagogmedhjælper_om_mig,
.gymnasium_om_mig {
  display: grid;
  grid-template-columns: 1fr 4fr;
  margin-top: 2rem;
  max-width: 70rem;
  margin-bottom: 3rem;
}

.svg_om_mig {
  width: 10rem;
}

.tekst3_om_mig {
  margin-top: 3rem;
}

.p_undertitel_om_mig {
  font-family: "Hanken Grotesk", sans-serif;
  font-weight: 600;
  font-size: 30px;
}
.p_tekst_om_mig {
  font-size: 20px;
}
/* Uddannelse og beskæftigelser slut */

@media (max-width: 800px) {
  .baggrund_om_mig,
  .udvikling_om_mig,
  .Uddannelse_beskæftigelser_om_mig {
    grid-template-columns: 1fr;
  }

  .baggrund_om_mig {
    margin: 20px 1rem 0;
    gap: 2rem;
  }
  .baggrund_om_mig img {
    margin-top: 0;
  }

  .udvikling_om_mig {
    margin: 5rem 1rem 0;
  }
  .tekst2_om_mig {
    margin-left: 0rem;
    order: 1;
  }
  .slideshow_om_mig {
    order: 2;
    max-width: 100%;
    margin-top: 20px;
    margin-bottom: 3rem;
  }

  .slideshow_om_mig .slider-wrapper {
    height: 250px;
  }

  .Uddannelse_beskæftigelser_om_mig {
    margin: 1rem 1rem 0;
  }

  .svg_om_mig {
    width: 8rem;
  }

  .Uddannelse_beskæftigelser_om_mig h2 {
    margin-bottom: 1rem;
    font-size: 20px;
  }

  .p_undertitel_om_mig {
    font-weight: 700;
    font-size: 20px;
  }
  .p_tekst_om_mig {
    font-size: 14px;
    line-height: 20px;
  }

  .tekst3_om_mig {
    margin-top: 1rem;
  }
  .multimediedesigner_om_mig,
  .tjener_om_mig,
  .pædagogmedhjælper_om_mig,
  .gymnasium_om_mig {
    gap: 15px;
    margin-top: 0;
    margin-bottom: 0;
  }
}
